{{ header }}
<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h2>{{ name }}</h2>
            {% if articles %}

                {% for article in articles %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="article-layout article-list col-xs-12">
                            <div class="article-intro">
                                <div>
                                    <h3><a href="{{ article.href }}">{{ article.name }}</a></h3>
                                    <p>{{ article.date_modified }}</p>
                                    <p>{{ article.intro_text }}
                                </div>
                            </div>
                            <div class="buttons">
                                <div class="pull-right"><a href="{{ article.href }}"
                                                           class="btn btn-primary">{{ button_read_more }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            <div class="row">
                <div class="col-sm-6 text-left">{{ pagination }}</div>
                <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
            {% endif %}
            {% if not articles %}
            <p>{{ text_empty }}</p>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
